
.DS_Store
*.pyc

*.rds
*.RData

/data

/frontend/node_modules
/frontend/.vite

/backend/.idea/

/backend/datasets/**
!/backend/datasets/.gitkeep

/backend/SampleSheets/**
!/backend/SampleSheets/.gitkeep


/backend/DatasetFiles/
/backend/datasets/

/frontend/public/Demos/notebooks/sc/example_data/**
!/frontend/public/Demos/notebooks/sc/example_data/dataset_info.toml

/frontend/public/Demos/notebooks/visiumst/example_data/**
!/frontend/public/Demos/notebooks/visiumst/example_data/dataset_info.toml
