
.DS_Store
*.pyc

*.rds
*.RData

/data

/frontend/node_modules
/frontend/.vite
/frontend/dist

/backend/.idea/

/backend/datasets/**
!/backend/datasets/.gitkeep

/backend/SampleSheets/**
!/backend/SampleSheets/.gitkeep


/backend/DatasetFiles/
/backend/datasets/

/frontend/public/demos/notebooks/sc/example_data/**
!/frontend/public/demos/notebooks/sc/example_data/dataset_info.toml

/frontend/public/demos/notebooks/visiumst/example_data/**
!/frontend/public/demos/notebooks/visiumst/example_data/dataset_info.toml

/frontend/public/demos/notebooks/xqtl/example_data/**
!/frontend/public/demos/notebooks/xqtl/example_data/dataset_info.toml
