
.DS_Store
*.pyc

/data

/frontend/node_modules
/frontend/.vite

/backend/.idea/

/backend/datasets/**
!/backend/datasets/.gitkeep

/backend/SampleSheets/**
!/backend/SampleSheets/.gitkeep


/backend/DatasetFiles/
/backend/datasets/

/docs/notebooks/sc/example_data/**
!/docs/notebooks/sc/example_data/dataset_info.toml

/docs/notebooks/visiumst/example_data/**
!/docs/notebooks/visiumst/example_data/dataset_info.toml
