fastapi == 0.115.6
uvicorn == 0.34.0
pydantic == 2.10.5
python-multipart
python-dotenv == 1.1.1
sqlmodel == 0.0.23
psycopg2-binary == 2.9.10
numpy == 2.2.3
pandas == 2.2.3
toml == 0.10.2
polars == 1.31.0
fastparquet == 2024.11.0
types-pytz == 2025.2.*
pydantic-settings == 2.10.1
pyBigWig == 0.3.24
