.sm-button {
    border: .1rem solid;
    border-radius: .1rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .2em 1em;
    transition: color 125ms, background-color 125ms, border-color 125ms;
}
.sm-button-filled {
    background-color: #4051b5;
    border-color: #4051b5;
    color: #ffffff !important;
}
