/* XQTLView */
.plot-page-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.title-row {
    margin: 8px 24px;
}

.plot-content {
    display: flex;
    flex-grow: 1; /* Allows dynamic height adjustment */
    overflow: hidden;
}

.plot-panel {
    width: 25%;
    /*min-width: 250px;*/
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    height: 100%;
}

.selection-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.control-group button {
    align-self: start;
    width: auto !important;
}

.gene-snp-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.gene-snp-row > * {
    flex: 1;
}

.plot-main {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    flex-grow: 3;
    align-items: center;
}

.qtl-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.view-label {
    width: 100%;
    text-align: center;
    position: sticky;
    left: 0;
    /*background: white;*/
    z-index: 1;
}

.view-container {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    flex: 1;
    align-items: center;
}

.gene-plot {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    min-width: 500px;
    max-width: 100vw;
    margin-bottom: 20px;
    overflow: hidden;
}

.gene-plot > div {
    flex: 1;
    height: 100%;
}

.snp-plot {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    min-width: 500px;
    max-width: 100vw;
    margin-bottom: 20px;
    overflow: hidden;
}

.snp-plot > div {
    flex: 1;
    height: 100%;
}

/* Position the modebar inside the plot area */
.modebar-container {
    top: 80px !important;
    right: 80px !important;
}
