/* General Styles */
.landing-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  color: #333;
  font-size: 1.2rem;
}

/* Content Grid */
.content-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
}

/* Paper Section Styles */
.paper {
  padding: 1rem;
  background-color: #f9f9f9;
  height: 100%; /* Ensures the paper stretches to match the height */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Optional: Keeps content spaced evenly */
  border-radius: 12px !important; /* Override default radius */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; /* Custom shadow */
}

.section-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.subsection-title {
  margin-top: 1rem;
  font-weight: bold;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0.1rem;
  list-style: none;
}

ul li {
  margin-bottom: 0.5rem;
}

/* Brain Image Section */
.image-section {
  text-align: center;
}

/* Brain image container */
.brain-image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Optional max width */
  margin: 0 auto; /* Center the container horizontally */
  justify-content: center;
  align-items: center;
  /*aspect-ratio: 1; !* Maintain a square aspect ratio *!*/
}

/* Brain image responsiveness */
.brain-image {
  max-width: 100%; /* Scale the image to fit within the container */
  max-height: 100%; /* Prevent overflow vertically */
  object-fit: contain; /* Maintain aspect ratio of the image */
  height: auto;
  transition: all 0.3s ease-in-out;
}


.regions-overlay {
  position: relative;
  top: -100%; /* Overlay the image */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.region {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.region:hover {
  transform: scale(1.1);
  z-index: 2;
}

.image-caption {
  margin-top: 0.5rem;
  color: #777;
  font-size: 1em;
  text-align: center;
}

/* Responsive grid behavior */
@media (max-width: 768px) {
  .content-grid {
    flex-direction: column; /* Stack sections vertically */
    gap: 20px;
  }

  .brain-image-container {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

/*!* Disease Selection Section *!*/
/*.disease-selection {*/
/*  text-align: center;*/
/*  margin-top: 0;*/
/*}*/

/*.disease-title {*/
/*  margin-bottom: 1rem;*/
/*}*/

/*.disease-buttons {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  gap: 1rem;*/
/*}*/
