/* UmapView */
.plot-page-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

.title-row {
    margin: 8px 24px;
}

/*================================*/
/*This is for the vertical layout*/

/*.plot-content {*/
/*  flex-grow: 1; !* Allows dynamic height adjustment *!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.plot-main {*/
/*    flex: 3;*/
/*    background-color: #f5f5f5;*/
/*    display: flex;*/
/*    align-items: start;*/
/*    justify-content: center;*/
/*}*/

/*.plot-panel {*/
/*    flex: 1;*/
/*    background-color: #ffffff;*/
/*    border-left: 1px solid #ddd;*/
/*    padding: 16px;*/
/*}*/

/*===================================*/
/*this is for the horizontal layout*/
.plot-content {
    display: flex;
    flex-direction: row; /* Left-right layout */
    flex-grow: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

/* Left Panel (Fixed Width) */
.plot-panel {
    width: 25%;
    /*min-width: 250px;*/
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    height: 100%;
}

/* Right Plot Area (Flexible) */
.plot-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    align-items: center;
}


/*=======================================*/
.umap-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); /* Flexible columns */
    grid-gap: 2px 4px; /* Space between plots */
    width: 100%;
    box-sizing: border-box;
}

/* Dynamically adjust the number of columns */
.umap-container.single-plot {
    grid-template-columns: 1fr;
    width: 60%;
}

.umap-container.two-plots {
    grid-template-columns: repeat(2, 1fr);
}

.umap-container.three-plots {
    grid-template-columns: repeat(3, 1fr);
}

.umap-container.four-plots {
    grid-template-columns: repeat(3, 1fr); /* First row has 3 */
}

/* Maximum of 3 plots per row */
@media (min-width: 800px) {
    .umap-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .umap-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .umap-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.umap-item {
    aspect-ratio: 1 / 1; /* Maintain square shape */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.umap-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.umap-wrapper > * {
    width: 100%;
    height: 100%;
}


/*=======================================*!*/
.violin-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center plots */
    align-items: center;
    margin-top: 5px;
}

.violin-item {
    width: 100%;
    max-width: 100%;
}

.violin-wrapper {
    width: 100%;
}

