.stat-bar-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px !important;
}

.stat-item {
    text-align: center;
}

.stat-icon {
    background: #fde8e8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
}

.stat-icon svg {
    width: 24px;
    height: 24px;
    color: #e67e22;
}

