/* UmapView */
.plot-page-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

.title-row {
    margin: 8px 24px;
}

/*================================*/
/*This is for the vertical layout*/

/*.plot-content {*/
/*  flex-grow: 1; !* Allows dynamic height adjustment *!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.plot-main {*/
/*    flex: 3;*/
/*    background-color: #f5f5f5;*/
/*    display: flex;*/
/*    align-items: start;*/
/*    justify-content: center;*/
/*}*/

/*.plot-panel {*/
/*    flex: 1;*/
/*    background-color: #ffffff;*/
/*    border-left: 1px solid #ddd;*/
/*    padding: 16px;*/
/*}*/

/*===================================*/
/*this is for the horizontal layout*/
.plot-content {
    display: flex;
    flex-direction: row; /* Left-right layout */
    flex-grow: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
}

/* Left Panel (Fixed Width) */
.plot-panel {
    width: 25%;
    /*min-width: 250px;*/
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    height: 100%;
}

/* Right Plot Area (Flexible) */
.plot-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 50px;
    overflow: hidden;
    align-items: center;
}


/*=======================================*/
.visium-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.sample-row {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.sample-label {
    width: 100%;
    text-align: center;
    position: sticky;
    left: 0;
    /*background: white;*/
    z-index: 1;
}

.features-container {
    display: flex;
    gap: 2px;
    overflow-x: auto;
    padding-bottom: 1rem;
    width: 100%;
    align-items: center;
}

.features-container.single-plot {
    justify-content: center;
}
.features-container.two-plot {
    justify-content: center;
}

.features-container.three-plot {
    justify-content: center;
}

.feature-plot-div {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    flex: 1;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}

.no-feature, .no-sample {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* Optional: Scrollbar styling */
.features-container::-webkit-scrollbar {
    height: 8px;
}

.features-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.features-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.features-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}